
.swiper-block {
    padding-top: 60px;
}

.swiper {
    position: relative;
}

.swiper-slide {
    display: flex;
    background: $bgslide;
    border-radius: 12px;
    width: 100%;
    max-width: 1320px; 
    overflow: hidden;  
    flex-direction: column;
    
    @media (min-width: 1024px) {
        flex-direction: row;
    }

    &__person {
        width: 100%;
        height: 500px;
        
        @media (min-width: 1024px) {
            height: 524px;
            min-width: 528px;
        }

        @media (min-width: 1440px) {
            min-width: 400px;  
            height: 344px
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            width: 100%;
            height: 100%;
            object-position: 50% 50%;
        }
    }

    &__content {
        padding: 30px;
        font-weight: 700;
        font-size: 30px;
        line-height: calc(37/30);
    }

    &__comm {
        display: block;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $links;
        transition: $hsp;
    }

    &__comm:hover {
        color: $basecolor;       
        transition: $hsp;
    }

    &__text {
        background: $phrases;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        padding: 5px 0 30px 0;

        @media (min-width: 768px) {
            font-size: 38px;
            line-height: calc(46/38);
        }
    }

    &__name {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: $items;
    }

    &__post {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: $items;
        padding-top: 6px;
    }
}

.swiper-pagination {
    top: 100%;
    padding-top: 30px;
    position: relative;   
}

.swiper-pagination-bullet {
    width: 16px;
    height: 16px;    
}